/* BUTTONS */

.btn-quantity {
  @include btn($color-dark, $color-light, $color-dark);
  vertical-align: top;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 10px;

  &--lt {
    @include btn($color-light, $color-light, $color-light);
    padding: 0;
    width: 24px;
    height: 24px;
    line-height: 16px;
    font-size: 10px;
    opacity: 0;
    margin: 5px;
    @include flex(row, center, center);
  }
}

.btn-primary {
  @include btn($color-dark, $color-light, $color-dark);
}

.btn-secondary {
  @include btn($color-second, $color-light, $color-main);
}

/* FORM ELEMENTS */

input,
select {
  border: 1px solid $color-dark;
  border-radius: $radius;
  padding: $base-size;

  &.error {
    border-color: $color-danger;
  }
}

select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, $color-dark 50%),
    linear-gradient(135deg, $color-dark 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 16px) calc(1em + 10px),
    calc(100% - 11px) calc(1em + 10px), calc(100% - 2.5em) 0;
  background-size: 5px 5px, 5px 5px, 1px 100%;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-size: 5px 5px, 5px 5px, 1px 100%;
  background-repeat: no-repeat;
  border-color: $color-second;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.checkbox {
  &__checkmark {
    &:after {
      content: '';
      position: absolute;
      display: none;
      width: 100%;
      height: 100%;
      bottom: 0;
      top: 0;
      box-sizing: border-box;
      right: 0;
    }
  }

  &:hover input ~ .checkbox__checkmark {
    content: none;
  }

  input:checked ~ .checkbox__checkmark:after {
    display: block;
  }
}

/*OTHER*/
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.alert-info {
  color: $color-danger;
}
