footer {
  background-color: $color-dark;

  div {
    @include flex(row, center, space-between);

    @include md-max {
      @include flex(column, center, center);
    }
  }

  p,
  a {
    color: gray;
    padding: $base-size 0rem;
  }

  .icon {
    margin-left: 1rem;
  }
}
