footer {
  background-color: $color-dark;
  @include flex(row, center, space-between);

  @include md-max {
    @include flex(column, center, center);
  }

  p,
  a {
    color: gray;
    padding: $base-size 3rem;
  }

  .icon {
    margin-left: 1rem;
  }
}
