.header {
  background-color: $color-light;
  z-index: 888;
  border-bottom: 1px solid lighten($color-dark, 72%);  


  &__wrapper {
    @include flex(row, center, space-between);
    height: ($base-size * 10);
  }
}

.logo {
  display: inline-block;
  line-height: 1;

  &__title {
    font-size: ($base-size * 2.5);
    font-weight: $font-light;
    text-transform: uppercase;
    letter-spacing: 2px;

    span {
      font-weight: $font-bold;
    }
  }
}
