.product {
  &__background-menu {
    background-color: $color-bkg-grey;
    height: 30%;
  }

  &__wrap-header {
    @include flex(row, center,space-between);
  }

  &__header {
    @include flex(column, flex-start, space-between);
    margin-bottom: ($base-size * 2);
    background-color: pink;
    width: 30%;
   
    font-size: 22px;
    cursor: pointer;
  }

  &__name {
    position: relative;
    margin: 0;
    font-weight: $font-semibold;
    text-transform: uppercase;
  }

  &__icon {
    position: absolute;
    color: $color-main;
    padding-left: $base-size;
    top: $base-size;
    font-size: ($base-size * 1.5);
    transition: $transition;
  }

  &__base-price {
    font-weight: $font-light;
  }

  &__description {
    color: lighten($color: $color-dark, $amount: 10%);
    background-color: yellow;
  }

  &__wrapper {
    @include flex(row, center, space-between);
    animation: flipdown 0.5s ease both;
    // @include accordion-closed();
  }

  &__params {
    margin: 0 0 ($base-size * 3) 0;
    padding: 0;
    list-style-type: none;
  }

  &__params-title {
    font-size: 14px;
    font-weight: $font-bold;
    text-transform: uppercase;
    margin: ($base-size * 2) 0;
  }

  &__order {
    width: calc(100% - 400px);
    // opacity: 0;
    transition: opacity 200ms;
  }

  &__total-price {
    font-size: 14px;
    font-weight: $font-bold;
    text-transform: uppercase;
  }

  &__images {
    position: relative;
    width: 350px;
    height: 350px;
    transition: opacity 200ms;

    &.small {
      width: 220px;
      height: 220px;
    }

    > img {
      @include center();
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: 0;

      &.active {
        opacity: 1;
      }
    }
  }

  &.active {
    .product__wrapper {
      @include accordion-open();
    }

    .product__order,
    .product__images {
      opacity: 1;
    }

    .product__icon {
      transform: rotate(180deg);
    }
  }
}

.widget-amount {
  input {
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0 ($base-size * 0.5);
    padding: 0;
  }
}
