.product {
  &__background-menu {
    background-color: $color-bkg-grey;
  }

  &__wrap-header {
    @include flex(row, center, space-between);
  }

  &__header {
    @include flex(column, flex-start, space-between);
    padding: 2rem 0;
    width: 33.33%;
  }

  &__name {
    font-weight: $font-light;
    font-size: 50px;
    line-height: 60px;
  }

  &__icon {
    font-size: ($base-size * 1.2);
    transition: $transition;
  }

  &__base-price {
    border: 1px solid $color-dark;
    border-radius: 50px;
    padding: 10px;
    font-weight: $font-semibold;
    text-transform: uppercase;
    margin-top: 20px;
  }

  &__allergens {
    color: lighten($color: $color-dark, $amount: 50%);
    font-size: 10px;
    margin-top: 25px;
  }

  &__description {
    color: lighten($color: $color-dark, $amount: 10%);
    font-size: 15px;
    margin: 20px 0 15px 0;
  }

  &__wrapper {
    animation: flipdown 0.5s ease both;
    @include accordion-closed();
  }

  &__order {
    transition: opacity 200ms;
    margin-bottom: 2rem;
  }

  &__customize {
    @include flex(row, center, space-between);
    width: 100%;
    height: 60px;
    cursor: pointer;

    p {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: $font-semibold;
      position: relative;
    }

    div {
      width: 40vw;
      height: 1px;
      background-color: $color-dark;
    }
  }

  &__params {
    margin: 0 0 ($base-size * 3) 0;
    padding: 0;
    list-style-type: none;
    @include flex(row, flex-start, space-between);
    width: 100%;
    flex-wrap: wrap;
  }

  &__params-title {
    font-size: 14px;
    font-weight: $font-bold;
    text-transform: uppercase;
  }

  .checkboxes-wrap {
    @include flex(row, center, space-between);
    flex-wrap: wrap;
    padding: 1rem 0;
  }

  #selects-option {
    position: relative;
    cursor: pointer;

    & select {
      // appearance: none;
      cursor: pointer;
      width: 250px;
      height: 55.8px;
      background-color: transparent;
      font-family: inherit;
      display: inline-block;
      margin: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }

  &__total-price {
    font-size: 14px;
    font-weight: $font-bold;
    text-transform: uppercase;
    margin: $base-size 0;
  }

  &__images {
    position: relative;
    width: 500px;
    height: 500px;

    transition: opacity 200ms;
    padding: calc($base-size * 2) 0;

    > img {
      position: absolute;
      top: 0;
      object-fit: cover;
      height: 100%;
      width: 100%;
      opacity: 0;

      &.active {
        opacity: 1;
      }
    }
  }

  &.active {
    .product__wrapper {
      @include accordion-open();
    }

    .product__icon {
      transform: rotate(180deg);
    }
  }
}

.amount {
  .amount-inpun {
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0 ($base-size * 0.5);
    padding: 0;
  }
}
