.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 90px;

  #arrow-right,
  #arrow-left {
    position: absolute;
    font-size: 25px;
    cursor: pointer;
    background-color: $color-light;
    width: 30px;
    height: 100%;
    line-height: 90px;

    &:hover {
      color: $color-second;
    }
  }

  #arrow-left {
    left: 0%;
    text-align: start;
  }

  #arrow-right {
    right: 0%;
    text-align: end;
  }

  #soups.slider-content {
    @include flex(row, flex-start, flex-start);
    width: 100%;
    margin: 0;
  }

  .slider-content {
    position: absolute;
    width: 200%;
    height: 100%;
    margin: 0 40px;
    @include flex(row, center, flex-start);
    transition: transform 0.3s ease-in-out;

    &.move {
      transform: translateX(-50%);
    }

    .checkbox--round label {
      cursor: pointer;
    }

    .checkbox {
      position: relative;
      min-width: 150px;
      border: 1px solid $color-dark;
      padding: 1rem;
      margin-right: 1rem;
      border-radius: $radius;

      @include md-max {
        min-width: auto;
        margin: calc($base-size / 2);
      }

      input {
        position: absolute;
        opacity: 0;
      }

      &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;

        &:after {
          content: '';
          position: absolute;
          display: none;
          width: 100%;
          height: 100%;
          border: 3px solid $color-second;
          border-radius: $radius;
          bottom: 0;
          top: 0;
          right: 0;
          box-sizing: border-box;
        }
      }
    }
  }
}
