.slider {
  padding: $base-size 0;
  position: relative;
  width: 100%;
  height: 100%;

  #soups.slider-content {
    @include flex(row, flex-start, flex-start);
    width: 100%;
    margin: 0;
  }

  .slider-content {
    width: 100%;

    @include flex(column, stretch, space-between);
    transition: transform 0.3s ease-in-out;
    gap: 10px;

    .checkbox--round label {
      cursor: pointer;
    }

    .checkbox {
      position: relative;
      border: 1px solid $color-dark;
      padding: 8px 15px;
      border-radius: $radius;

      @include md-max {
        min-width: auto;
        margin: calc($base-size / 2);
      }

      input {
        position: absolute;
        opacity: 0;
      }

      &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;

        &:after {
          content: '';
          position: absolute;
          display: none;
          width: 100%;
          height: 100%;
          border: 3px solid $color-second;
          border-radius: $radius;
          bottom: 0;
          top: 0;
          right: 0;
          box-sizing: border-box;
        }
      }
    }
  }
}
