.h1 {
  font-weight: $font-light;
  font-size: 50px;
  line-height: 60px;

  @include sm-max {
    font-size: 20px;
    line-height: 30px;
  }

  @include md-max {
    font-size: 30px;
    line-height: 30px;
  }
}

.h2 {
  font-size: 14px;
  font-weight: $font-bold;
  text-transform: uppercase;
}

.h3 {
  font-size: 12px;
  font-weight: $font-bold;
  text-transform: uppercase;
}
